<!DOCTYPE html>
<html lang = ru>
 <head>
   <link rel = "stylesheet" type = "text/css" href = "header-style.css">
 </head>
 <body>
   <div class = "header_wrapper">
     <div class = "img_links">
              <p>Принимаем звонки с 9:00 до 20:00 Пн - Пт</p>
              <hr>
       <img src = "../resources/icons/facebook_ic.png" width = "40px" height = "30px">
       <img src = "../resources/icons/google_ic.png" width = "35px" height = "30px">
       <img src = "../resources/icons/twitter_ic.png" width = "35px" height = "30px">
       <img src = "../resources/icons/youtube_ic.png" width = "35px" height = "30px">
     </div>
     <div class = "main_img">
       <img src = "../resources/icons/cite_logo_ic.png" width = "170px" height = "120px">
     </div>
     <div class = "main_phrase">
       <p>CarSale.ru - надежный выбор!</p>
     </div>
     <div class = "main_links">
       <a href = "new-cars.html" target = "mainframe">Новинки</a>
       |
       <a href = "catalog.html" target = "mainframe">Каталог</a>
       |
       <a href = "index.html" target = "mainframe">Комплектующие</a>
       |
       <a href = "about.html" target = "mainframe">О нас</a>
       |
       <a href = "dop.html" target = "mainframe">Наши услуги</a>
     </div>
   </div>
 </body>
</html>
