<!DOCTYPE html>
<html lang = ru>
  <head>
    <meta charset = "utf-8">
    <link rel = "stylesheet" type = "text/css" href = "cite-style.css">
  </head>

  <body>
    <h1>Составляющие сайта</h1>

    <table
    align = center
    >
      <tr><td>Цвета
      <tr><td class = "color_top">Высший<td><p class = "header_text_font">Заголовок</p>
      <tr><td class = "color_header">Шапка<td><p class = "points_font">Пункты</p>
      <tr><td class = "color_main">Главный Цвет<td><p>Характеристики</p>
      <tr><td class = "color_cards">Карточки<td><p class = "main_text_font">Обычный текст</p>
      <tr><td class = "color_footer">Подвал<td><p class = "small_text_font">Мелкий текст</p>
    </table>

    <div class = "card_class">
      <p>Карточка</p>
    </div>

  </body>
</html>
